.card {
    width: 100%;
    height: 250px;
    overflow: hidden !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
    border-radius: 5px;
    .content {
        font-family: "Open Sans";
        text-align: center;
        padding: 10px;
        opacity: 0;
        transition: all 500ms ease-in-out;
        transform: translate(0, 20px);
        cursor: pointer;
        h1 {
            font-size: 14px;
            color: white;
        }
        p {
            font-size: 10px;
            color: white;
            margin-bottom: 50px;
        }
        .btn {
            text-decoration: none;
            .icon {
                color: black;
                font-size: 30px
            }
            .icon-open {
                color: black;
                font-size: 25px;
            }
        }
        &:hover {
            opacity: 1;
            transform: translate(0, 0px);
        }
    }
}