#contact {
    background-color: black;
    color: white;
    .footer-container {
        width: 100vw;
        height: 100vh;
        padding-left: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media(">=phone", "<lgphone") {
            padding-left: 2rem;
        }
        @include media(">=lgphone", "<tablet") {
            padding-left: 2rem;
        }
        h1 {
            margin-bottom: 25vh;
            font-size: 3rem;
            line-height: 20px;
            text-align: center;
        }
        h2 {
            font-size: 1.5rem;
            overflow: hidden;
            align-items: left;
            @include media(">=phone", "<lgphone") {
                font-size: 1rem;
            }
            @include media(">=lgphone", "<tablet") {
                font-size: 1rem;
            }
            @include media(">=tablet", "<desktop") {
                font-size: 1.2rem;
            }
        }
        .email-link {
            font-size: 1.5rem;
            color: white;
            text-decoration: none;
            font-weight: 900;
            -webkit-text-stroke-width: 1px;
            letter-spacing: 2px;
            font-size: 5rem;
            @include media(">=phone", "<lgphone") {
                text-align: left;
                font-size: 2rem;
            }
            @include media(">=lgphone", "<tablet") {
                font-size: 2rem;
            }
            @include media(">=tablet", "<desktop") {
                font-size: 5rem;
            }
        }
        .email-link:hover {
            color: black;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
        }
        .social-icons {
            // color: white;
            margin-top: 20px;
            img {
                height: 2rem;
                margin: 10px;
                // background-color: white;
            }
        }
        span {
            margin-top: 10px;
        }
        icon {
            color: red;
        }
        .copyright {
            margin-top: 8rem;
            font-size: 1.2rem
        }
    }
}