#contact {
    background-color: black;
    color: white;
    .footer-container {
        width: 80vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 5rem;
        justify-content: center;
        @include media(">=phone", "<lgphone") {
            padding-left: 2rem;
        }
        @include media(">=lgphone", "<tablet") {
            padding-left: 2rem;
        }
        h1 {
            margin-bottom: 25vh;
            font-size: 3rem;
            line-height: 20px;
            text-align: center;
        }
        h2 {
            font-size: 1.5rem;
            overflow: hidden;
            align-items: left;
            font-weight: 300;
            @include media(">=phone", "<lgphone") {
                display: none;
            }
            @include media(">=lgphone", "<tablet") {
                font-size: 1rem;
            }
            @include media(">=tablet", "<desktop") {
                font-size: 1.2rem;
            }
        }
        .email-link {
            color: white;
            text-decoration: none;
            -webkit-text-stroke-width: 1px;
            font-size: 5rem;
            transition: all .2s ease-in-out;
            @include media(">=phone", "<lgphone") {
                font-size: 1.2rem;
                letter-spacing: 1.5rem;
                font-weight: 300;
            }
            @include media(">=lgphone", "<tablet") {
                font-size: 1.7rem;
                letter-spacing: 2px;
                font-weight: 900;
            }
            @include media(">=tablet", "<desktop") {
                font-size: 5rem;
                letter-spacing: 2px;
                font-weight: 900;
            }
            &:hover {
                color: black;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: white;
            }
        }
        .social-icons {
            // color: white;
            margin-top: 1rem;
            margin-bottom: 1rem;
            img {
                height: 2rem;
                width: auto;
                margin-right: 1rem;
                opacity: 0.6;
                &:hover {
                    opacity: 1
                }
                @include media(">=phone", "<lgphone") {
                    height: 1.2rem;
                }
                @include media(">=lgphone", "<tablet") {
                    height: 1.5rem;
                }
                @include media(">=tablet", "<desktop") {
                    font-size: 2rem;
                }
            }
        }
        a {
            text-decoration: none;
            color: white;
            font-weight: 600;
        }
        span {
            margin-top: 10px;
            letter-spacing: 1px;
        }
        icon {
            color: red;
        }
        .copyright {
            margin-top: 8rem;
            font-size: 1.2rem
        }
        @include media(">=phone", "<lgphone") {
            font-size: 1.2rem;
        }
        @include media(">=lgphone", "<tablet") {
            font-size: 1.5rem;
        }
        @include media(">=tablet", "<desktop") {
            font-size: 2rem;
        }
        .name {
            a {
                &:hover {
                    border-bottom: 1px solid white;
                }
            }
        }
    }
}