.header-wrapper {
    width: 100vw;
    height: 100vh;
    // margin-top: 15vh;
    // margin-bottom: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include media(">=phone", "<lgphone") {
        height: 100%;
        margin-top: 25vh;
        margin-bottom: 25vh
    }
    @include media(">=lgphone", "<tablet") {}
    @include media(">=tablet", "<desktop") {}
    @include media(">=desktop") {}
    h2 {
        font-size: 1rem;
        text-align: center;
        @include media(">=phone", "<lgphone") {
            font-size: 1rem;
        }
        @include media(">=lgphone", "<tablet") {
            font-size: 16px;
        }
        @include media(">=tablet", "<desktop") {
            font-size: 16px;
        }
    }
    .heading-wrapper {
        h1 {
            color: white;
            font-size: 4rem;
            text-align: center;
            line-height: 20px;
            -webkit-text-stroke-color: black;
            letter-spacing: 1px;
            @include media(">=phone", "<lgphone") {
                font-size: 2rem;
                line-height: 10px;
                -webkit-text-stroke-width: 1px;
            }
            @include media(">=lgphone", "<tablet") {
                font-size: 2.5rem;
                line-height: 10px;
                -webkit-text-stroke-width: 2px;
            }
            @include media(">=tablet", "<desktop") {
                font-size: 2.5rem;
                -webkit-text-stroke-width: 2px;
            }
            @include media(">=desktop") {
                -webkit-text-stroke-width: 2px;
            }
        }
        h1:hover {
            color: black;
            @include media(">=phone", "<lgphone") {
                -webkit-text-stroke-width: 1px;
            }
            @include media(">=lgphone", "<tablet") {
                -webkit-text-stroke-width: 2px;
            }
            @include media(">=tablet", "<desktop") {
                -webkit-text-stroke-width: 2px;
            }
            @include media(">=desktop") {
                -webkit-text-stroke-width: 2px;
            }
        }
    }
    p {
        width: 50%;
        text-align: center;
        overflow: hidden;
        @include media(">=phone", "<lgphone") {
            font-size: 12px;
            width: 100%;
        }
        @include media(">=lgphone", "<tablet") {
            font-size: 12px;
            width: 100%;
        }
        @include media(">=tablet", "<desktop") {
            font-size: 14px;
            width: 100%;
        }
    }
}