.navbar-wrapper {
    width: 100%;
    margin-top: 0vh;
    padding-top: 1rem;
    display: flex;
    // position: fixed;
    align-items: center;
    justify-content: space-between;
    background: white;
    .name {
        margin-left: 3rem;
        font-weight: 600;
        cursor: pointer;
    }
    .links-wrapper {
        margin-right: 3rem;
        button {
            text-decoration: none;
            padding: 10px;
            font-family: "Open Sans";
            opacity: 0.6;
            transition: all 0.2s ease-in-out;
            font-size: 14px;
            background-color: transparent;
            outline: none;
            border: 0px;
            cursor: pointer;
            font-weight: 600;
            &:hover {
                opacity: 1;
            }
            @include media(">=phone", "<lgphone") {
                font-size: 12px;
            }
            @include media(">=lgphone", "<tablet") {
                font-size: 12px;
            }
            @include media(">=tablet", "<desktop") {
                font-size: 14px;
            }
        }
        .active {
            color: black;
        }
    }
}