.skills-container {
    width: 80vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 3rem;
        line-height: 20px;
    }
    .skills-grid {
        overflow: auto;
        white-space: nowrap;
        flex-direction: row;
        display: flex;
        grid-template-columns: repeat(12, 1fr);
        margin-top: 50px;
        grid-gap: 20px;
        @include media(">=phone", "<lgphone") {
            margin-top: 30px;
            grid-template-columns: repeat(12, 1fr);
        }
        @include media(">=lgphone", "<tablet") {
            grid-template-columns: repeat(6, 1fr);
        }
        @include media(">=tablet", "<desktop") {
            grid-template-columns: 1fr 1fr;
        }
        .skill {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            img {
                height: 3rem;
                width: auto;
                @include media(">=phone", "<lgphone") {
                    height: 1rem;
                }
                @include media(">=lgphone", "<tablet") {
                    height: 1rem;
                }
                @include media(">=tablet", "<desktop") {
                    height: 1rem;
                    width: auto;
                }
            }
            p {
                font-size: 14px;
            }
        }
    }
}